---
import BaseLayout from '../layouts/BaseLayout.astro';
import Content, { frontmatter } from '../data/about/umut-about.md';

const title = frontmatter?.title ?? 'About';
const description = frontmatter?.description ?? 'About your blog.';
const permalink = `${Astro.site.href}about`;
---

<BaseLayout title={title} description={description} permalink={permalink} current="about">
  <div class="container">
    <Content />
  </div>
</BaseLayout>